@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

body {
  background-color: rgb(49, 49, 49);
}

.App {
  height: 100vh;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

/* Webkit 브라우저 (Chrome, Safari)에서 스크롤바 숨기기 */
.App::-webkit-scrollbar {
  display: none;
}

/* Internet Explorer와 Edge에서 스크롤바 숨기기 */
.App {
  -ms-overflow-style: none; /* IE와 Edge */
}

@font-face {
  font-family: "suite";
  src: url("../font/SUITE-BOLD.OTF");

  font-family: "suite-m";
  src: url(../font/SUITE-MEDIUM.OTF);
}

/* index Header */
.Header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(49, 49, 49);
}

.Header_wrap {
  /* max-width: 360px; */

  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.userIcon {
  font-size: 1.5em;
  display: block;
  padding: 0.5em 0.7em;
  color: white;
  cursor: pointer;
}

.Header_center_box {
  flex-grow: 1;
}

.Header_center_box > h1 {
  font-family: "suite";

  color: white;
  text-align: center;
  font-size: 1.7em;
  padding: 0.3em 0;
}

.settingIcon {
  font-size: 1.5em;
  color: white;
  padding: 0.5em 0.7em;
  cursor: pointer;
}

/* MainApp */
.MainApp {
  transition: opacity 0.5s ease-in-out;
}

.MainApp.fade-in {
  opacity: 1;
}

/* index MusicList */
.MusicList {
  width: 100%;
  overflow-x: hidden;
  margin-top: 2.5em;
}

.MusicList2,
.MusicList3,
.MusicList4 {
  margin-top: 0.5em;
}

.MusicList4 {
  margin-bottom: 12em;
}

.MusicList_wrap {
  /* max-width: 360px; */

  margin: 0 auto;
  padding: 0 1em;
}

.MusicListTiTle {
  padding: 1em 0 0.5em 0;
}

.MusicListTiTle > h4 {
  color: white;
}

.MusicAlbumList {
  display: flex;
  flex-direction: row;

  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 2em;
  cursor: pointer;
}

.MusicAlbumList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.MusicAlbumList > li {
  width: 30%;

  margin-left: 0.5em;
  background-color: tomato;
  flex: none;
  position: relative;
}

.box {
  position: relative;
  width: 50%;
  background-color: skyblue;
}
.box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MusicAlbumList > li:first-child {
  margin-left: 0;
}

/* .MusicAlbumList > li:last-child {
  margin-right: 1em;
} */

.MusicAlbumList > li p {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -6%;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

/* Footer */

.Footer {
  background-color: rgb(49, 49, 49);

  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.FooterWrap {
  /* max-width: 360px; */
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.homeIcon,
.searchIcon,
.folderIcon,
.premiumIcon {
  font-size: 1em;
  display: block;
  padding: 0.5em 0.7em;
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.FooterIconBox {
  width: 25%;
  display: flex;

  position: relative;
}

.iconText {
  width: 100%;

  text-align: center;
  font-size: 0.5em;
  color: white;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

/* Intro */
.Intro {
  width: 100%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.intro.fade-out {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.IntroWrap {
  margin: 0 auto;
  /* width: 360px; */
  /* height: 740px; */
  width: 100%;
  height: 100vh;
  background-image: url(https://dongsooo.github.io/imgs/img/00_intro_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.supotifyLogoBox {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
}

.supotifyLogoBox > img {
  width: 55px;
  height: 55px;
}

.supotifyTextBox {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
}

.supotifyTextBox > p {
  font-family: "suite-m";
  font-size: 3.5em;
  color: #f2cae9;
}

.supotifyLogoBox,
.supotifyTextBox {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.supotifyLogoBox.visible,
.supotifyTextBox.visible {
  opacity: 1;
}

/* search */
.Search {
  width: 100%;
  padding-bottom: 4em;
}

.SearchWrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.SearchHeaderBox {
  padding: 1em;
}

.SearchIconBox {
  position: relative;
  width: 50px;
  background-color: skyblue;
  border-radius: 50%;
}
.SearchIconBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.SearchIconText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: "suite";
  color: white;
}

.SearchTitleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

.SearchTitleBox > p {
  font-family: "suite";
  color: white;
  font-size: 1.5em;
}

.SearchHeaderBox {
  display: flex;
}

.SearchTopBox {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.SearchBar {
  width: 100%;
  height: 50px;
  outline: none;
  box-sizing: border-box;

  font-size: 1em;
}

.SearchBtn {
  width: 10%;
}

.SearchBar:focus {
  border: none;
}

.SearchBottomBox {
  padding: 2em 1em;
  width: 100%;
  margin: 0 auto; /* 가운데 정렬 */
  overflow-x: hidden;
  box-sizing: border-box;
  margin-bottom: 6em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 설정 */
  grid-template-rows: repeat(4, auto); /* 4행으로 설정, 높이는 자동 */
  gap: 10px; /* 그리드 항목 사이의 간격을 설정 */
}

.grid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-container img {
  max-width: 100%;

  height: auto; /* 이미지가 li 크기에 맞게 조정되도록 설정 */
}

.grid-container li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

/* MusicPlayer */
#MusicPlayer2,
#MusicPlayer3 {
  padding-bottom: 36em;
}

.MusicPlayer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* padding-bottom: 6em; */
  overflow: hidden;
  background-color: rgb(49, 49, 49);
  z-index: 5;

  /* background-color: red; */
}

.MusicPlayer.mini {
  display: none;
}

.MusicPlayerIconBox {
  padding: 1em;
  box-sizing: border-box;
  width: 360px;
  margin: 0 auto;
  background-color: rgb(35, 35, 35);
}

.MusicTopIcon {
  color: white;
  cursor: pointer;
}

.MusicPlayerImgBox {
  width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

.MusicPlayerImgBox img {
  width: 100%;
}

.MusicPlayerTitleBox {
  /* width: 40%; */
  width: 360px;
  margin: 0 auto;
  /* padding: 2em; */
  padding-top: 0.5em;
  font-family: "suite";
  box-sizing: border-box;
  background-color: rgb(35, 35, 35);
}

.MusicPlayerTitleBox > p {
  margin-left: 0.5em;
}

.MusicPlayerTitleBox > p:last-child {
  margin-left: 0.7em;
}

.MusicPlayerTilte {
  font-size: 1.4em;
  color: white;
}

.MusicPlayerSinger {
  font-size: 1em;
  color: rgb(121, 121, 121);
}

.MusicPlayerLikeBox {
  /* width: 40%; */
  width: 360px;
  margin: 0 auto;

  display: flex;
  padding-top: 2em;
  font-size: 1.5em;
  display: flex;
  background-color: rgb(35, 35, 35);
  align-items: center;
}

.MusicPlayerLikeIcon {
  margin-left: 0.5em;
  color: white;
  cursor: pointer;
}

.MusicPlayerLikeIcon.like {
  color: red;
}
.MusicPlayerComentIcon {
  color: white;
  cursor: pointer;
  margin-left: 0.5em;

  font-size: 0.9em;
}

.likeNums {
  font-size: 0.7em;
  color: white;
  margin-left: 0.3em;
}

.MusicPlayerControlBox {
  width: 360px;
  margin: 0 auto;
  background-color: rgb(35, 35, 35);

  position: relative;
  padding-top: 1em;
  padding-bottom: 0em;
  /* background-color: red; */
}

.MusicPlayerLineBox {
  width: 100%;

  height: 50px;
}

.MusicPlayerLine {
  width: 90%;
  height: 3px;
  background-color: rgb(148, 148, 148);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.MusicPlayerBtnBox {
  width: 2%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.MusicPlayerBtnBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.MusicPlayerBottomBox {
  display: flex;
  font-size: 2em;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  padding-bottom: 10em;

  color: white;
  background-color: rgb(35, 35, 35);
  /* background-color: red; */
  width: 360px;
}

/* .MusicPlayerPrevBtn,
.MusicPlayerPlayBtn,
.MusicPlayerNextBtn {
  padding: 3em 0;
} */

.playBtn,
.stopBtn {
  font-size: 1.7em;
  display: block;
}

.MusicPlayerMini {
  width: 100%;

  position: fixed;
  bottom: 80px;
  z-index: 5;
  display: flex;
  border-top: 1px solid rgb(152, 152, 152);
  /* border-bottom: 1px solid rgb(152, 152, 152); */

  background-color: rgb(49, 49, 49);

  display: none;
}

.MusicPlayerMini.large {
  display: block;
}

.MusicPlayerMiniImgBox {
  width: 80px;
  height: 80px;
  background-color: tomato;
  background-image: url("https://dongsooo.github.io/imgs/img/01_section-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1em;
}

.MusicPlayerMiniTitleBox {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MusicPlayerMiniTitleBox > p:first-child {
  font-size: 1em;
}
.MusicPlayerMiniTitleBox > p:last-child {
  font-size: 0.9em;
  color: rgb(79, 79, 79);
}

.MusicPlayerMiniTitleBox > p {
  color: white;
}

.MusicPlayerMiniIconBox {
  padding: 0.5em 1em;
  color: white;

  display: flex;
  flex-shrink: 2;
}

.MusicPlayerMiniContBox {
  display: flex;

  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
  color: white;

  flex-grow: 1;
}

/* Side Menu */
.SideMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.566);
  overflow: hidden;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.SideMenu.active {
  display: block;
}

.SideMenuBg {
  width: 70%;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}

.SideMenuIconBox {
  padding: 1em;
  position: relative;
}

.SideMenuXIconBox {
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.SideMenuIcon {
  position: relative;
  width: 65px;
  background-color: skyblue;
  border-radius: 50%;
}

.SideMenuIcon::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.SideMenuIcon > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.SideMenuName {
  padding-top: 1em;
}

.SideMenuName > p {
  font-family: "suite";
  color: white;
  font-size: 1.3em;
  margin-top: 0.2em;
}

.SideMenuBox {
  padding-left: 1em;
  padding-top: 3em;
}

.SideMenuBox li {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding: 0.5em 0;
}

/* Library */

.Library {
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.Library > p {
  font-size: 1em;
  width: 100%;
  color: white;
  padding: 1em;
  /* padding-bottom: 0; */

  background-color: rgb(49, 49, 49);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.LibrayList {
  padding: 1em;
  padding-top: 3em;
}

.LibrayList > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 0;
}

.LibraryTitleBox {
  display: flex;
  justify-content: start;

  flex-grow: 1;
  flex-direction: column;
}

.LibraryTitleBox > p {
  font-family: "suite";
  color: white;
  padding-left: 1em;
}

.LibraryTitleBox > p:first-child {
  font-size: 1em;
}

.LibraryTitleBox > p:last-child {
  font-size: 0.8em;
  color: rgb(90, 90, 90);
}

.LibraryImgBox {
  width: 23%;
}

.LibraryImgBox > img {
  max-width: 100%;
  width: 100%;
}

.LibrayPlayIcon,
.LibrayTrachIcon {
  font-size: 1em;
  color: white;
  margin: 0 0.7em;
  cursor: pointer;
}

/* Premium */

.Premium {
  padding-bottom: 6em;
  /* margin-top: 10em; */
  overflow: hidden;
  background-image: url(https://dongsooo.github.io/imgs/img/08_Premium_BG.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.PremiumTitleBox {
  margin-top: 2em;
  margin-left: 1em;
}

.PremiumTitleBox > p {
  font-family: "suite";
  color: white;
}
.PremiumBox1TextBox {
  display: flex;
  justify-content: center;

  margin: 1em;
  margin-top: 3em;
}

.PremiumBox1TextBox > p {
  font-size: 1em;
  color: white;
}

.PremiumImgBox1 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 40vw;
  background-color: rgb(118, 109, 205);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://dongsooo.github.io/imgs/img/07_premium.Bg4.jpeg);
  background-position: center;
  background-size: cover;
}

.premiumPriceTextBox {
  padding: 2em;
  padding-bottom: 1em;
}

.premiumPriceTextBox > P {
  color: white;
  font-size: 1.5em;
}

.PremiumTextBox1 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0 1em; */
}

.PremiumTextBox1 > p {
  color: white;

  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}

.PremiumTextBox1 > ul,
.PremiumTextBox2 > ul,
.PremiumTextBox3 > ul,
.PremiumTextBox4 > ul {
  margin: 0 auto;
  width: fit-content;

  text-align: start;
  position: relative;
}

.PremiumTextBox1 > ul > li {
  list-style: inside;
  color: white;
  font-size: 0.7em;
  line-height: 1.5em;
  position: relative;
  left: 0;
}

.PremiumImgBox2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 40vw;
  background-color: rgb(68, 122, 70);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  background-image: url(https://dongsooo.github.io/imgs/img/07_premium.Bg2.jpeg);
  background-position: center;
  background-size: cover;
}

.PremiumTextBox2 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0 1em; */
}

.PremiumTextBox2 > p {
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}

.PremiumTextBox2 > ul > li {
  list-style: inside;
  color: white;
  font-size: 0.7em;
  line-height: 1.5em;
}

.PremiumImgBox3 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 40vw;
  background-color: rgb(171, 140, 90);
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;

  background-image: url(https://dongsooo.github.io/imgs/img/07_premium.Bg5.jpeg);
  background-position: center;
  background-size: cover;
}

.PremiumTextBox3 {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 0 1em; */
}

.PremiumTextBox3 > p {
  color: white;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em 0;
}

.PremiumTextBox3 > ul > li {
  list-style: inside;
  color: white;
  font-size: 0.7em;
  line-height: 1.5em;
}

.SliderContent {
  display: flex;
}

.BGWrap {
  /* background-color: rgb(49, 49, 49); */

  padding-top: 0.5em;
}

.Slider1,
.Slider2,
.Slider3,
.Slider4 {
  width: 100%;
}

.Slider1 > div {
  display: flex;
  background-color: tomato;
  width: 100%;
  height: 60vw;
  border-radius: 10px;
  transform: scale(0.9);
  justify-content: center;
  align-items: center;
}

.PremiumSlideTextBox {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.PremiumSlideTextBox > p {
  color: white;

  text-align: center;
}
.PremiumSlideTextBox > p:first-child {
  font-size: 1em;
}

.PremiumSlideTextBox > p:last-child {
  font-size: 0.8em;
  margin: 0.5em 0;
}

.PremiumSlideImgBox1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.PremiumSlideImgBox1 > img {
  max-width: 40%;
}

.Slider2 > div {
  display: flex;
  background-color: burlywood;
  width: 100%;
  height: 60vw;
  border-radius: 10px;
  transform: scale(0.9);
  justify-content: center;
  align-items: center;
}

.Slider3 > div {
  display: flex;
  background-color: brown;
  width: 100%;
  height: 60vw;
  border-radius: 10px;
  transform: scale(0.9);
  justify-content: center;
  align-items: center;
}

.Slider4 > div {
  display: flex;
  background-color: salmon;
  width: 100%;
  height: 60vw;
  border-radius: 10px;
  transform: scale(0.9);
  justify-content: center;
  align-items: center;
}

/* Settings */

.Settings {
  background-color: rgb(49, 49, 49);
}

.SettingsHeader {
  position: relative;
  background-color: rgb(49, 49, 49);
}

.SettingsHeaderIcon {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

.SettingsHeaderTitleBox {
  padding: 1em 0.5em;
}

.SettingsHeaderTitleBox > p {
  color: white;
  text-align: center;
}

.SettingsProfBox {
  padding: 1em;
  display: flex;
  position: relative;
}

.SettingsProfIconBox {
  position: relative;
  width: 65px;
  border-radius: 50%;
  background-color: skyblue;
}
.SettingsProfIconBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.SettingsProfIconBox > p {
  font-family: "suite";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SettingsProfTextBox {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}

.SettingsProfTextBox > p:first-child {
  color: white;
  font-size: 1em;
  font-family: "suite";
}

.SettingsProfTextBox > p:last-child {
  color: rgb(153, 153, 153);
  font-size: 0.7em;
  margin-top: 0.4em;
}

.SettingsProfArrowBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.SettingsProfArrow {
  color: white;
}

.SettingsList {
  padding: 1em;
}

.SettingsList li {
  display: flex;

  position: relative;
  margin: 1.5em 0;
}

.SettingsList p {
  color: white;
}

.SettingsListIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: white;
}

.SettingsLogoutBox {
  background-color: white;
  border-radius: 30px;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 6em;
  cursor: pointer;
}

.SettingsLogoutBox p {
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0.8em 1.5em;
}

/* coment */

.Coment {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  /* background-color: red; */
  height: calc(100vh - 10%);
  z-index: 10;
}

.ComentHeader {
  position: relative;
  background-color: rgb(22, 22, 22);
  /* background-color: orangered; */
}

.ComentTitleBox {
  padding: 1em;
}

.ComentTitleBox > p {
  color: white;
  font-size: 1em;
}

.ComentIconBox {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  right: 5%;
  color: white;
  cursor: pointer;
}

.ComentBtnBox {
  display: flex;
}

.ComentBtn {
  color: white;
  padding: 0.5em 1em;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  margin-left: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.ComentRecBtn {
  margin-left: 0.5em;
}

.ComentCautionBox {
  color: white;
  font-size: 0.7em;
  text-align: center;
  background-color: rgb(85, 85, 85);
  padding: 1em 0;
}

.ComentCautionBox > p > span {
  color: tomato;
}

.ComentUserIconBox {
  position: relative;
  width: 65px;
  background-color: skyblue;
  border-radius: 50%;
}

.ComentUserIconBox > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.ComentUserIconBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.ComentBody {
  padding: 1em;
  position: relative;
  /* height: 90%; */
  margin-bottom: 10em;
}

.Coment {
  height: 100vh;
  overflow-y: auto; /* 세로 스크롤 활성화 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

/* Webkit 브라우저 (Chrome, Safari)에서 스크롤바 숨기기 */
.Coment::-webkit-scrollbar {
  display: none;
}

/* Internet Explorer와 Edge에서 스크롤바 숨기기 */
.Coment {
  -ms-overflow-style: none; /* IE와 Edge */
}

.ComentBody li {
  display: flex;
  margin: 0.5em 0;
  /* margin-bottom: 1em; */
  position: relative;
}

.ComentBody li:first-child {
  margin-top: 0.2em;
}

.ComentUserBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.ComentUserId {
  display: flex;
  flex-direction: row;

  margin-top: 0.3em;
}

.ComentUserId > p {
  color: rgb(109, 109, 109);
  font-size: 0.7em;
}

.ComentUserId > p:last-child {
  margin-left: 0.4em;
}

.ComentText {
  padding-top: 0.5em;
}

.ComentText > p {
  color: white;
  font-size: 0.9em;
}

.ComentUserBox {
  padding-left: 0.5em;
}

.ComentWriteBox {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.ComentWriteUserIcon {
  position: relative;
  width: 25px;
  background-color: skyblue;
  border-radius: 50%;
  margin: 0.5em;
}
.ComentWriteUserIcon::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.ComentWriteUserIcon > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.3em;
}

.ComentInput {
  width: 90%;
  outline: none;
  margin-right: 0.5em;
}
/* 미디어쿼리 */

@media all and (max-width: 420px) {
  .MusicAlbumList > li p {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -25%;
    color: white;
    font-size: 0.4em;
    line-height: 1.5em;
  }

  .userIcon {
    font-size: 1.5em;
    display: block;
    padding: 0.5em 0.7em;
    color: white;
  }

  .Header_center_box > h1 {
    font-family: "suite";

    color: white;
    text-align: center;
    font-size: 1.7em;
    padding: 0.3em 0;
  }

  .settingIcon {
    font-size: 1.5em;
    color: white;
    padding: 0.5em 0.7em;
  }
}
