@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

body {
  background-color: rgb(49, 49, 49);
  overflow-y: scroll; /* 스크롤 기능 유지 */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "suite";
  src: url("../font/SUITE-BOLD.OTF");

  font-family: "suite-m";
  src: url(../font/SUITE-MEDIUM.OTF);
}

/* index Header */
.Header {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(49, 49, 49);
}

.Header_wrap {
  /* max-width: 360px; */

  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.userIcon {
  font-size: 1.5em;
  display: block;
  padding: 0.5em 0.7em;
  color: white;
}

.Header_center_box {
  flex-grow: 1;
}

.Header_center_box > h1 {
  font-family: "suite";

  color: white;
  text-align: center;
  font-size: 1.7em;
  padding: 0.3em 0;
}

.settingIcon {
  font-size: 1.5em;
  color: white;
  padding: 0.5em 0.7em;
}

/* MainApp */
.MainApp {
  transition: opacity 0.5s ease-in-out;
}

.MainApp.fade-in {
  opacity: 1;
}

/* index MusicList */
.MusicList {
  width: 100%;
  overflow-x: hidden;
  margin-top: 2.5em;
}

.MusicList2,
.MusicList3,
.MusicList4 {
  margin-top: 0.5em;
}

.MusicList4 {
  margin-bottom: 6em;
}

.MusicList_wrap {
  /* max-width: 360px; */

  margin: 0 auto;
  padding: 0 1em;
}

.MusicListTiTle {
  padding: 1em 0 0.5em 0;
}

.MusicListTiTle > h4 {
  color: white;
}

.MusicAlbumList {
  display: flex;
  flex-direction: row;
  /* width: min-content; */
  /* max-width: 430px; */
  overflow-x: scroll;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding-bottom: 2em; /* 추가 패딩 */
}

.MusicAlbumList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.MusicAlbumList > li {
  width: 30%;
  /* height: 130px; */
  margin-left: 0.5em;
  background-color: tomato;
  flex: none;
  position: relative;
}

.box {
  position: relative;
  width: 50%;
  background-color: skyblue;
}
.box::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MusicAlbumList > li:first-child {
  margin-left: 0;
}

/* .MusicAlbumList > li:last-child {
  margin-right: 1em;
} */

.MusicAlbumList > li p {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -6%;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

/* Footer */

.Footer {
  background-color: rgb(49, 49, 49);

  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: 80px;
}

.FooterWrap {
  /* max-width: 360px; */
  margin: 0 auto;
  display: flex;
  height: 100%;
}

.homeIcon,
.searchIcon,
.folderIcon,
.premiumIcon {
  font-size: 1em;
  display: block;
  padding: 0.5em 0.7em;
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.FooterIconBox {
  width: 25%;
  display: flex;

  position: relative;
}

.iconText {
  width: 100%;

  text-align: center;
  font-size: 0.5em;
  color: white;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

/* Intro */
.Intro {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.intro.fade-out {
  opacity: 0;
}

.IntroWrap {
  margin: 0 auto;
  /* width: 360px; */
  /* height: 740px; */
  width: 100%;
  height: 100vh;
  background-image: url(../public/img/00_intro_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.supotifyLogoBox {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
}

.supotifyLogoBox > img {
  width: 55px;
  height: 55px;
}

.supotifyTextBox {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
}

.supotifyTextBox > p {
  font-family: "suite-m";
  font-size: 3.5em;
  color: #f2cae9;
}

@media all and (max-width: 420px) {
  .MusicAlbumList > li p {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -25%;
    color: white;
    font-size: 0.4em;
    line-height: 1.5em;
  }

  .userIcon {
    font-size: 1.5em;
    display: block;
    padding: 0.5em 0.7em;
    color: white;
  }

  .Header_center_box > h1 {
    font-family: "suite";

    color: white;
    text-align: center;
    font-size: 1.7em;
    padding: 0.3em 0;
  }

  .settingIcon {
    font-size: 1.5em;
    color: white;
    padding: 0.5em 0.7em;
  }

  #playCont {
    overflow: hidden;
  }
}

/* search */
.Search {
  width: 100%;
  padding-bottom: 4em;
}

.SearchWrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.SearchHeaderBox {
  padding: 1em;
}

.SearchIconBox {
  position: relative;
  width: 50px;
  background-color: skyblue;
  border-radius: 50%;
}
.SearchIconBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.SearchIconText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  font-family: "suite";
  color: white;
}

.SearchTitleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
}

.SearchTitleBox > p {
  font-family: "suite";
  color: white;
  font-size: 1.5em;
}

.SearchHeaderBox {
  display: flex;
}

.SearchTopBox {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.SearchBar {
  width: 100%;
  height: 50px;
  outline: none;
  box-sizing: border-box;

  font-size: 1em;
}

.SearchBtn {
  width: 10%;
}

.SearchBar:focus {
  border: none;
}

.SearchBottomBox {
  padding: 2em 1em;
  width: 100%;
  margin: 0 auto; /* 가운데 정렬 */
  overflow-x: hidden;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열로 설정 */
  grid-template-rows: repeat(4, auto); /* 4행으로 설정, 높이는 자동 */
  gap: 10px; /* 그리드 항목 사이의 간격을 설정 */
}

.grid-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.grid-container img {
  max-width: 100%;

  height: auto; /* 이미지가 li 크기에 맞게 조정되도록 설정 */
}

.grid-container li p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

/* MusicPlayer */
.MusicPlayer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 6em;
  overflow-x: hidden;
  background-color: rgb(49, 49, 49);
  z-index: 5;
}

.MusicPlayer.mini {
  display: none;
}

.MusicPlayerIconBox {
  padding: 1em;
  box-sizing: border-box;
}

.MusicTopIcon {
  color: white;
}

.MusicPlayerImgBox {
  padding: 1em;
  /* width: 40%; */
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.MusicPlayerImgBox img {
  width: 100%;
}

.MusicPlayerTitleBox {
  /* width: 40%; */
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  font-family: "suite";
  box-sizing: border-box;
}

.MusicPlayerTilte {
  font-size: 1.4em;
  color: white;
}

.MusicPlayerSinger {
  font-size: 0.5em;
  color: rgb(121, 121, 121);
}

.MusicPlayerLikeBox {
  /* width: 40%; */
  width: 100%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  padding-left: 0.5em;
  font-size: 2em;
  display: flex;

  align-items: center;
}

.MusicPlayerLikeIcon {
  margin-right: 0.2em;
  color: white;
}

.MusicPlayerLikeIcon.like {
  color: red;
}
.MusicPlayerComentIcon {
  color: white;
}

.likeNums {
  font-size: 0.7em;
  color: white;
  margin-right: 1em;
}

.MusicPlayerControlBox {
  /* width: 40%; */
  width: 100%;
  margin: 0 auto;
}

.MusicPlayerLine {
  width: 90%;
  height: 3px;
  background-color: rgb(148, 148, 148);
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
}

.MusicPlayerBtnBox {
  width: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}
.MusicPlayerBtnBox::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

.MusicPlayerBottomBox {
  display: flex;
  font-size: 2em;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  padding-bottom: 6em;
  color: white;
  /* background-color: red; */
  width: 100%;
}

.playBtn {
  font-size: 1.7em;
  display: block;
}

.MusicPlayerMini {
  width: 100%;

  position: fixed;
  top: 0%;
  z-index: 5;
  display: flex;
  border-bottom: 1px solid rgb(152, 152, 152);
  background-color: rgb(49, 49, 49);
  display: none;
}

.MusicPlayerMini.large {
  display: block;
}

.MusicPlayerMiniIconBox {
  padding: 0.5em 1em;
  color: white;

  display: flex;
  flex-shrink: 2;
}

.MusicPlayerMiniContBox {
  display: flex;

  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
  color: white;

  flex-grow: 1;
}

/* Side Menu */
.SideMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.SideMenuBg {
  width: 70%;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}

.SideMenuIconBox {
  width: 100%;
  padding: 1em;
}

.SideMenuIcon {
  position: relative;
  width: 10%;
  background-color: skyblue;
  border-radius: 50%;
}

.SideMenuIcon::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.SideMenuIcon > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.SideMenuName {
  padding-top: 1em;
}

.SideMenuName > p {
  font-family: "suite";
  color: white;
  font-size: 1.3em;
  margin-top: 0.2em;
}

.SideMenuBox {
  padding-left: 1em;
  padding-top: 3em;
}

.SideMenuBox li {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding: 0.5em 0;
}
